table {
	border-collapse: collapse;
	background: var(--table-background);
	padding: 4px;
}

th, td {
	padding: 2px;
}

th {
	background-color: var(--table-header-background);
	color: var(--table-header-text);
	font-weight: bold;
	text-align: left;
}

th:first-child {
}

td:first-child {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}


tr:nth-child(even) {
	background-color: var(--table-even-row-background);
}

tr {
    transition: background-color 0.2s ease;
}

tr:hover {
    background-color: var(--highlight-background-green);
	color: var(--table-header-text);
}
