th:nth-child(2),
td:nth-child(2) {
    padding: 2px 20px 2px 20px;
}
th:nth-child(3),
td:nth-child(3) {
	padding: 2px 1em 2px 20px;
}
table {
    border-collapse: collapse;
    /* width: 100%; */
}

tbody tr {
    transition: background-color 0.2s ease;
}

tbody tr:hover {
    background-color: rgba(76, 175, 80, 0.5);
}
